<h1>Charts for <%= @trade_calculation.name %></h1>

<div id="chartSettings" style="display:none">
<% form_for [@current_member, @trade_calculation, @chart] do |f| %>
  <p>
    <strong>Range</strong>: <%= f.select :range, YahooFinanceCharts::Base.range_options %>&nbsp;&nbsp;
    <strong>Type</strong>: <%= f.select :chart_type, YahooFinanceCharts::Base.type_options %>&nbsp;&nbsp;
    <strong>Size</strong>: <%= f.select :size, YahooFinanceCharts::Base.size_options %>&nbsp;&nbsp;
  </p>
   <p>
      <strong>MMA</strong>:&nbsp;
      <% YahooFinanceCharts::Base.mma_options.each do |name, value| %>
        <%= name %> <%= check_box_tag "chart[moving_averages][#{value}]", true, @chart.moving_averages.include?(value) %>&nbsp;&nbsp;
      <% end %>&nbsp;&nbsp;
      <strong>EMA</strong>:&nbsp;
      <% YahooFinanceCharts::Base.ema_options.each do |name, value| %>
        <%= name %> <%= check_box_tag "chart[exponential_moving_averages][#{value}]", true, @chart.exponential_moving_averages.include?(value) %>&nbsp;&nbsp;
      <% end %>&nbsp;&nbsp;
   </p>
   <p>
    <strong>Indicators:</strong>&nbsp;
    <% YahooFinanceCharts::Base.indicator_options.each do |name, value| %>
      <%= name %> <%= check_box_tag "chart[indicators][#{value}]", true, @chart.indicators.include?(value) %>&nbsp;&nbsp;
    <% end %>&nbsp;&nbsp;
   </p>
   <p>
    <strong>Overlays:</strong>&nbsp;
    <% YahooFinanceCharts::Base.overlay_options.each do |name, value| %>
      <%= name %> <%= check_box_tag "chart[chart_overlays][#{value}]", true, @chart.chart_overlays.include?(value) %>&nbsp;&nbsp;
    <% end %>&nbsp;&nbsp;
   </p>
  <%= submit_tag 'Save' %> or <%= link_to_function 'cancel', "Element.toggle('chartSettings');Element.toggle('changeSettingsLink')" %>
<% end %>
</div>

<p id="changeSettingsLink"><%= link_to_function 'Change chart settings &raquo;', "Element.toggle('chartSettings');Element.toggle('changeSettingsLink')" %></p>

<p style="text-align:center;margin-top:2em"><%= image_tag @chart.url %></p>
